<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="productNameTextField">Name</label>
                    <input type="text" class="form-control"
                        id="productNameTextField"
                        placeholder="Enter the Product Name"
                        name="name" required>
                </div>

                <div class="form-group">
                    <label for="productPriceTextField">Price</label>
                    <input type="number" class="form-control"
                        id="productPriceTextField"
                        placeholder="Enter the Product Price"
                        name="price" required>
                </div>

                <div class="form-group">
                    <label for="productQuantityTextField">Quantity</label>
                    <input type="number" class="form-control"
                        id="productQuantityTextField"
                        placeholder="Enter the Product Quantity"
                        name="quantity" 
                        required
                        min="0"
                        step="1"> 
                </div>
                

                <div class="form-group">
                    <label for="productQuantityTextField">UOM</label>
                    <select class="form-control" id="productUomSelectField" name="uom" required>
                        <option value="">Select Unit of Measurement</option>
                        <% for(let count=0; count < conversion.length; count++) { %>
                        <option value="<%= conversion[count]._id %>"><%= conversion[count].unitName %></option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="productExpiryDate">Expiry</label>
                    <input type="date" class="form-control"
                        id="productExpiryDate"
                        placeholder="Enter the Product Expiry Date"
                        name="expiry" required>
                </div>

                

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                <a href="/product/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>
