<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
      <h5 id="userRole">
          <% if (user && user.role) { %>
              Logged in as: <%= user.role %>
          <% } else { %>
              Not logged in
          <% } %>
      </h5>
  </div>
</nav>
