<script>
    var columns = []

    var filterTable = () => {
        var filterColumns = document.getElementById("searchColumn").value
        var trs = document.querySelectorAll(`#inventoryTbl tbody tr`)
        var filter = document.getElementById("searchInput").value
        var regex = new RegExp(filter, 'i')

        var find = (childrenArr) => {
            return regex.test(childrenArr.innerHTML)? true : false
        } 

        var setTr = ({ style, children }) => {
            style.display = find(children[filterColumns]) ? '' : 'none'
        }
    
        trs.forEach(setTr)
    }
</script>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-9">
            <h1>
                <%= title %>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="text-end"> <!-- New column for the button -->
            <a href="/product/add" class="btn btn-success" role="button">
                <i class="fas fa-plus-circle"></i> Add New
            </a>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <select id="searchColumn">
                <option value="0">Unit</option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"> </option>
                <option value="4"> </option>
                <option value="5"> </option>
            </select>
            <input type="text" id="searchInput" placeholder="Search..." onkeyup="filterTable()">

            <table id="inventoryTbl" class="table table-bordered table-striped table-hover sortable">
                
                <!-- Header Row-->
                <tr class="table-dark">
                    <th class="text-center col-2">Unit</th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"> </th>
                    <th class="text-center col-2"> </th>
                    <th class="text-center col-2"> </th>                    
                    
                    <!-- Add other employee-related header columns as needed -->
                </tr>
    
                <!-- Repeatable Template Row -->
                <% for(let count=0; count < conversion.length; count++) { %>
                    <tr>
                        <td class="text-center col-2">
                            <%= conversion[count].unitName %>
                        </td>
                        <td class="text-center col-2">
                        </td>
                        <td class="text-center col-2">

                        </td>
                        <td class="text-center col-2">

                        </td>
                        <td class="text-center col-2">

                        </td>
                        <td class="text-center col-2">

                        </td>
                        
                        <!-- Add other employee-related columns as needed -->
                        <td class="text-center col-1">
                            <a class="btn btn-warning" href="/product/edit/<%= conversion[count]._id %>">
                                Edit
                            </a>
                        </td>
                        <td class="text-center col-1">
                            <a class="btn btn-danger" href="/product/delete/<%= conversion[count]._id %>">
                                Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
