<div class="container">
    <h1><%= title %></h1>
    <h5 id="userRole">
        <% if (user && user.role) { %>
            Welcome to Baker Buddy <%= user.displayName %>!
        <% } else { %>
            Login to continue
        <% } %>
    </h5>
</div>